#content
{
    transition: 0.4s;
}

@media (max-width: 1160px)
{
    #dataDashboard
    {
        display: none;
    }

    #alertBemVindo
    {
        display: block !important;
    }

    #ocorrenciasCard
{
    min-width: 90.5vw !important;
}

}

#alertBemVindo
{
    min-width: 436px;
}

#cardNotifs
{
    min-width: 436px;
}

#painelOcc
{
    color: #333;
    text-decoration: none;
}

#painelOcc:hover
{
    color: #333;
    cursor: pointer;
    background-color: #aaa;
}

#notification
{
    color: #333;
    text-decoration: none !important;
}

#notification:hover
{
    color: #333;
    cursor: pointer;
    background-color: #aaa;
}

#dataOccPainel
{
    font-family: 'Ubuntu Mono', monospace;
}

.progress-bar
{
    transition: 0.2s;
}

.progress-bar:hover
{
    cursor:pointer;
}

#progress
{
    transition: 0.2s;
}

#avisoOccs
{
    color: #333;
    text-decoration: none;
    transition: 0.1s;
}

#avisoOccs:hover
{
    color: #222;
    text-shadow:
    -0.1px -0.1px 0 #222,
    0.1px -0.1px 0 #222,
    -0.1px 0.1px 0 #222,
    0.1px 0.1px 0 #222;
}

#buttonCloseNotif:focus
{
    box-shadow: none;
}