body
{
  min-height: 100vh;
  user-select: none;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden;
}

#btn
{
  position: relative;
  z-index: 0;
  color: #000;
}

.profile
{
  position: relative;
  height: 100vh;
  width: 250px;
}

.dropup
{
  position: absolute;
  bottom:0px;
}

.navbar
{
  width:250px;
  height:100vh;
  position: fixed;
  background-color: #222;
  transition: 0.4s;
}

.nav-item
{
  border-bottom: 1px solid #555;
}

.nav-link
{
  font-size: 1.20em;
  width:250px;
  height: 48px;
  position: relative;
}


.nav-link:active,
.nav-link:focus,
.nav-link:hover
{
  background-color: rgb(121,253,255);
  -webkit-text-fill-color: #333;
  font-weight: 500;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#menu-btn
{
  transition: 0.4s;    
  fill: #222;
  stroke: #222;
  stroke-width: 0px;
}

.active-nav
{
  margin-left:0;
}

.active-cont
{
  margin-left: 250px;
}


#menu-btn:hover
{
  stroke-width: 40px;
}

.registar-div > .dropdown-toggle::after {
  display: none !important;
}

.largeScreenButtons
{
  display: block;
}

@media (max-width: 768px)
{
  #content
  {
    margin-left: 45px !important;
  }

  .largeScreenButtons span
  {
    display: none !important;
  }

  #menu-btn
  {
    display: none;
  }

  .navbar
  {
    width: 45px;
    margin-left: 0px !important;
  }

  .nav-link
  {
    width: 45px;
    margin-left: 0px !important;
  }

  #dropdown-button
  {
    display: none;
  }

  .navbar-brand
  {
    display: none;
  }

  .nav-item
  {
    border-bottom: 0;
  }

  #userDetails
  {
    display:none;
  }

  .profile
  {
    width: 45px ;
    display: flex;
    justify-content: center;
  }

  .dropup
  {
    margin-left: 0px !important;
  }

  .dropup img
  {
    margin:0px !important;
  }

  .dropdown-toggle::after {
    display:none !important;
}
}