body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.separador{
    color: #2f323a;
    font-weight: 500;
}

.full-content
{
    transition:0.4s;
}

.title{
    background-color: rgba(121, 255, 255, 1);
    height: 200px;
    margin-bottom: 20px;
}

h1{
    font-weight: 500;
    color: #f8f8f8;
}

.identification{
    width: 100%;
}

.separador{
    font-weight: 600;
    color: #333;
}

.input-box{
    border: 2px solid #ccc;
    border-radius: 0px;
}

.box-motivos{
    width: 85%;
}

table{
    table-layout: fixed;
    width: 85%;
    height: 600px;
    border-collapse: collapse;
    border-radius: 1px;
    border-style: hidden;
    box-shadow: 0 0 0 2px #ccc; 
}

td{
    border: 2px solid #ccc;
    border-collapse: collapse;
    padding-left: 10px;
    padding-right: 10px;
}

.checkmark{
    position: relative;
    width: 25px;
    height: 35px;
    vertical-align: middle;
}

textarea {
    width: 61%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    word-break: break-word;
    font-family: "Arial";
}

.btn-sub{
    width: 15vw;
    min-width: 100px;
    height: 40px;
    border: 0;
    background: #2f323a;
    border-radius: 4px;
    font-weight: normal;
    color: #fff;
    outline:none;
}

.btn-sub:hover
{
    background-color: rgba(121, 255, 255, 1);
    font-weight: 600;
    color: #2f323a;
}