#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */

    animation-name: overlay;
    animation-duration: 0.4s;
    animation-timing-function: ease;
}

@keyframes overlay
{
    from {opacity: 0;}
    to {opacity: 100;}
}

@keyframes cardAppear
{
    from {top: 50vw;}
    to {top: 0;}
}

@keyframes cardDisappear
{
    from {top: 0;}
    to {top: 50vw;}
}

#headerCard
{
    border: 0 !important;
    background-color: #222;
    color: #ddd;
    font-weight: 600;
    width: auto !important;
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
}

.card
{
    border: 0 !important;
    background-color: transparent !important;
}

.card-body
{
    background-color: #eee !important;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}

#buttonSim, #buttonCancelar
{
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
}

#buttonSim
{
    font-weight: 600;
    font-size: 18px;
    color: #eee;

    background-color: rgb(10,170,10);
}

#buttonCancelar
{
    font-weight: 600;
    font-size: 18px;
    color: #eee;

    background-color: rgb(100,100,100);
}

#buttonSim:hover, #buttonCancelar:hover
{
    filter: brightness(1.2);
    cursor: pointer;
}