body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.full-content
{
    transition:0.4s;
}

.title{
    background-color: rgba(121, 255, 255, 1);
    height: 200px;
    margin-bottom: 20px;
}

h1{
    font-weight: 500;
    color: #f8f8f8;
}

#buttonStatAceitar
{
    cursor: pointer;
    font-weight: 500;
    border: 1px solid rgb(0,200,0); 
    color: rgb(0,200,0);
}

#buttonStatRecusar
{
    cursor: pointer;
    font-weight: 500;
    border: 1px solid rgb(255,0,0); 
    color: rgb(255,0,0);
}

#motivo_est:focus{
    outline: none;
}

.btn-sub{
    width: 15vw;
    min-width: 100px;
    height: 35px;
    border: 0;
    background: #2f323a;
    border-radius: 4px;
    font-weight: normal;
    color: #fff;
    outline:none;
}

.btn-sub:hover
{
    background-color: rgba(121, 255, 255, 1);
    font-weight: 600;
    color: #2f323a;
}