input:focus, select:focus{
    box-shadow: none !important; /*Remove a sombra azul ao clicar em qualquer input */
}

.full-content
{
    transition:0.4s;
}


#search
{
    width: 60vw !important;
    border-radius: 0;
}

#search:focus
{
    border-color: #ccc;
    outline: none;
    box-shadow: none;
}

#pesquisa
{
    height:38px !important;

    border: 0;
    background-color: rgba(0,0,0,0.05);
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

#selectEscola
{
    height:38px !important;

    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0.05);
    border-bottom: 1px solid #a0a6ab;
}

#selectTurma
{
    height:38px !important;

    border: 0;
    border-radius: 0;
    background-color: rgba(0,0,0,0.05);
    border-bottom: 1px solid #a0a6ab;
}

#selectTurma:disabled
{
    background-color: rgba(0,0,0,0.25);
    border-bottom: 1px solid #a0a6ab;
}

#table-ocorrencias
{
    width: 60vw;
    /* border: 1px solid black; */
    background-color: #fff;
}

thead th
{
    background-color: #222;
    color: #ddd;
    width: auto !important;
}

.tableHeadLeft
{
    border-top-left-radius: 7px !important;
}

.tableHeadRight
{
    border-top-right-radius: 7px !important;
}


.lightRow
{
    background-color: #f5f5f5;
}

.darkRow
{
    background-color: #ebebeb;
}