/* Table */
#responsive-table{
    table-layout: fixed;
    width: 61%;
    height: 600px;
    border-collapse: collapse;
    border-radius: 2px;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 2px #ccc; /* this draws the table border  */ 
}

.content
{
    transition:0.4s;
}

#search
{
    width: 50vw;
    border-radius: 0;
}

#search:focus
{
    border-color: #ccc;
    outline: none;
    box-shadow: none;
}

#table-ocorrencias
{
    width: 60vw;
}

th,td,tr
{
    border: 1px solid black;
}