body{
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.full-content
{
    transition:0.4s;
}

.title{
    background-color: rgba(121, 255, 255, 1);
    height: 200px;
    margin-bottom: 20px;
}

h1{
    font-weight: 500;
    color: #f8f8f8;
}